<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.Article_CommentDao">
    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO article_comment
            ( article_Id,create_time, comment, update_time, delete_status )
        VALUES (#{article_Id},#{create_time},#{comment},#{update_time},#{delete_status})
    </insert>

</mapper>
